* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol, li {
    list-style: none;
}

body {
    background: rgb(223,187,158);
    background: radial-gradient(circle, rgba(223,187,158,1) 0%, rgba(197,200,164,1) 100%);
}
.box {
    color: #fff;
    text-align: justify;
}
.box::after {
    content: '';
    width: 100%;
    display: inline-block;
}
.box-item {
    display: inline-block;
    width: 25%;
    height: 150px;
}
.box-item-one {
   background-color: #FAA116;
}
.box-item-two {
    background-color: #57C7C3;
}
.box-item-three {
    background-color: #3B97D3;
}

