* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol, li {
    list-style: none;
}

body {
    background-color: antiquewhite;
}
.box {
    text-align: center;
}
.box-item {
    display: inline;
    padding: 10%;
}
.box-item-black {
    color: white;
    background-color: black
}
.box-item-white {
    background-color: white
}
.box-item-blue {
    color: white;
    background-color: blue;
}