* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul, ol, li {
    list-style: none;
}

body {
    background: rgb(223,187,158);
    background: radial-gradient(circle, rgba(223,187,158,1) 0%, rgba(197,200,164,1) 100%);
}
.box {
    text-align: center;
    color: #fff;
}
.box-item {
    display: inline;
    padding: 10%;
}
.box-item-one {
   background-color: #FAA116;
}
.box-item-two {
    background-color: #57C7C3;
}
.box-item-three {
    background-color: #3B97D3;
}